<app-navbar [sidenav]="sidenav" [opened]="opened" [signout]="signout"></app-navbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="!opened ? 'over' : 'side'" [opened]="opened">
    <mat-nav-list>
      <div style="text-align: center;">
        <img class="avatar mat-elevation-z8" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" />

        <h3 class="name text-responsive">John Doe</h3>
        <p class="designation pb-xl-5">Admin</p>
      </div>
      <!-- Here we are using menu-list-item -->
      <app-sidenav-item *ngFor="let item of menu" [item]="item"></app-sidenav-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
