<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()" class="menu-button" fxHide fxShow.lt-md>
    <mat-icon>menu</mat-icon>
  </button>
  <span [ngClass]="{ 'hidden': !opened }">MyRoomsAdministrator</span>
  <span>
  </span>
  <span class="head-menu"></span>
  <div class="row">
    <button mat-button (click)="signout()">
      <mat-icon>logout</mat-icon> Sign Out
    </button>
  </div>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="!opened ? 'over' : 'side'" [opened]="opened">
    <mat-nav-list>
      <div style="text-align: center;">
        <img class="avatar mat-elevation-z8" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" />

        <h4 class="name text-responsive">John Doe</h4>
        <p class="designation">Admin</p>

        <mat-divider></mat-divider>
      </div>
      <!-- Here we are using menu-list-item -->
      <app-sidenav-item *ngFor="let item of menu" [item]="item"></app-sidenav-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
