.mat-toolbar.mat-primary {
  background: aliceblue !important;
  color: var(--highlighted-font-color);
  font-family: "Times New Roman", Times, serif !important;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.head-menu {
  flex: 1 1 auto;
}

.hidden {
  display: none;
}

.logout-button {
  padding: 15px;
  font-size: 20px;
}

button.menu-button {
  color: inherit;
  background: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

