.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.form-content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: aliceblue;
  border-radius: 10px;
  text-align: left;
}

.logo-text {
  font-size: var(--mat-toolbar-title-text-size);
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 500;
  letter-spacing: 0.25px;
  line-height: 32px;
  box-sizing: border-box;
}
